# RStudio Connect folder
rsconnect/
Rural funding plots for report.docx
Rural funding plots for report.qmd
Rural_urban_funding.xlsx
app BACKUP.R
definition_overlap.xlsx
map_data_test.xlsx
maps test.R
rural definitions, enrollment, funding.R
rural-urban funding difference maps.png
rural_definitions_funding_Rproj.Rproj
style_template.docx
Analysis of rural by sector, state, definition.R
stashed rds
rural funding shiny app
data
.Rproj.user
